/*----body styles-*/
body,html { 
margin:0; 
padding: 0; 
width: 100%;
}

ol,ul { 
	margin:0; 
	margin-left: 25px; 
}




/*body styling*/
body {
	background: #f4f3f3 url(images/header_img.jpg) repeat-x center top fixed;
	color: #444948;
	font: normal 16px/24px "ProximaNovaLight", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #214a64;
}

p strong {
	font-family: ProximaNovaSemiBold;
}

h1 {
		margin: 0 auto;
	}

	h1, h1 a {
		width: 333px;
		height: 242px;
		display: block;
	}

h1 a {
		text-indent: -9999px;
		background: url(images/logo.png) no-repeat 0 0;
		border: 0;
		}

header {
		height: 526px;
		position: fixed;
		top: 0;
		width: 100%;
	}
/*bounce effect for my header*/	
header .kimaiga {
		padding-top: 150px;
		-webkit-animation-name: bounceInDown;
		-moz-animation-name: bounceInDown;
		-o-animation-name: bounceInDown;
		animation-name: bounceInDown;

	-webkit-animation-delay: 1s;
		 -moz-animation-delay: 1s;
		   -o-animation-delay: 1s;
		      animation-delay: 1s;

	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
	}

	header .avatar {
		display: block;
		border-radius: 50%;
		width: 90px;
		height: 90px;
		margin: 0 auto;
	}

	header h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		display: block;
		font-size: 3em;
		line-height: 1em;
		padding-top: 20px;
	}

	header h2 span {
		display: block;
		font-size: 14px;
		padding-top: 20px;
		font-weight: normal;
		color: rgba(255,255,255,0.6);
		font-family: ProximaNovaLight;
		letter-spacing: 0.2em;
	}

	header .social {
		text-align: center;
		padding-top: 0;
	}

		header .social a 
		{
			width: 50px;
			height: 50px;
			display: inline-block;
			text-indent: -999em;
			-webkit-transform: scale(0.5, 0.5);
			transform: scale(0.5, 0.5);
			background-position: center center;
			background-repeat: no-repeat;
			text-align: center;
			border: 0;

			-webkit-transition: all .2s ease-in-out;
    	transition: all .2s ease-in-out;
		}

/*social media icons*/
header .social a.twitter  { 
	background-image: url(images/twitter.png); 
}

header .social a.linkedin { 
	background-image: url(images/linkedin.png); 
}

header .social a.email    { 
	background-image: url(images/email.png); 
}
header .social a.github{
	background-image: url(images/github.png);
}

}

.skills {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	height: 60px;
	display: none;
}
	.skills li {  
		border-top-style: solid;
		display:inline-block;
		width: 20%; 
		position: absolute;
		bottom: 0;
		text-align: center;
	}
	.skills li.html  { border-top-color: rgba(33,74,100, 1.0); border-top-width: 10px; }
	.skills li.css  { border-top-color: rgba(33,74,100, 0.8); border-top-width: 10px; left: 20%; }
	.skills li.js 	 { border-top-color: rgba(33,74,100, 0.6); border-top-width: 7px;  left: 40%; }
	.skills li.java { border-top-color: rgba(33,74,100, 0.4); border-top-width: 4px;  left: 60%; }
	.skills li.Android   { border-top-color: rgba(33,74,100, 0.2); border-top-width: 4px;  left: 80%; }

#container {
	margin: 526px auto 0 auto;
	width: 100%;
	background: #fff;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	z-index: 3;
	padding-top: 20px;
}

#container h2 {
	border-bottom: 1px solid #f4f3f3;
	display: block;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 20px 0;
	font-family: ProximaNovaSemiBold;
	height: 50px;
}

	#container h2 span {
		margin: 0;
		display: block;
		width: 780px;
		margin: 0 auto;
	}

	#container h2 span em {
		border-bottom: 1px solid #444948;
		font-style: normal;
		display: inline-block;
		padding: 20px 0;
		height: 10px;
	}

		#container h2 span em.lefty { float: left; }
		#container h2 span em.righty { float: left; margin-left: 380px; }
